.headerContainer {
    background-color: #5ac5a7;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.titleText {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profileIcon {
    color: white;
    font-size: 1.3rem;
}

.name {
    color: white;
    font-size: 1rem;
}